.container{
    height: 300vh; width: auto;
    background-color: antiquewhite;
}
.header{
    height:50vh; width: auto;
    background-color: lightpink;
    overflow: hidden;
    display: flex; align-items: center; 
}
.header::before{
  content: ""; 
  position: absolute;
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 50vh; 
  background-color: hsla(0, 0%, 100%, 0.571); 
  z-index: 1; 
}
#header_img{
    height: auto; min-height: 50vh;
    width: 100%;
    object-fit: cover;
}
.menu{
    width: 100%;
    position: static;
    background-color: rgb(255, 158, 120);
    display: flex; justify-content: space-between; 
    align-items: center;
}
.left_menu{
    float: left;
    margin-left: 10%;
}
.right_menu{
    /* float: left;  */
    display: flex; margin-right: 10%;
}
.logo{
    height: 10vh;
}
.menu li{
    float: right; 
    font-weight:400; color: white;
    letter-spacing: 0.1rem;
    /* background-color: aqua; */
    margin: 1rem; 
    margin-right: 1rem;
}
/* ___________________________________________________________ */

.content{
    height: 50vh; width: 80vw; margin: auto;
    background-color: brown;
    display: flex; /* bov hori aa jaege theeno */
    justify-content: space-around;
    flex-wrap: wrap;
}
.cont_box{
    width: 20vw; height: 50vh; background-color: lightslategrey;
    flex:1 1 300px; 
}
.cont_box:first-child{
    background-color: aqua;
}
.cont_box:last-child{
    background-color: lightcoral;
}
@media (max-width:500px) {
    .container{height: auto;}
}